PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=mi_base_de_datos
DB_USERS_TABLE=usuarios
DB_PROVIDERS_TABLE=proveedores
DB_CLIENTS_TABLE=clientes
DB_PRODUCTS_TABLE=productos
DB_VEHICLES_TABLE=vehiculos

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0

DB_QUEUE_NAME=db-queries
DB_QUEUE_CONCURRENCY=5

MATURATION_BRIX_THRESHOLD=22

JWT_SECRET=super-secret-change-me
JWT_EXPIRES_IN=8h
